@page
<h1>About</h1>
<p>
    This sample application is for a ficticious company that manages an inventory of products (Bikes, Helmets, Accesories, etc). They created a web application to allow their customers and employees to search for information about these products. The web application embrace Azure Cognitive Search to provide a better search experience and  also Azure OpenAI to provide an innovative interaction by using the Chat to ask questions about its products powered by the OpenAI GPT Model with their own data.
</p>
<hr />
<a href="https://github.com/dsanchezcr/CosmicWorksSampleApp" target="_blank">Here is the source code</a>.